---
import Menu from "./Menu.astro";

const {file, current, copyright, copyrightUrl} = Astro.props;
---

<div class="toolbar-toggle">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7C3 6.44772 3.44772 6 4 6H20C20.5523 6 21 6.44772 21 7C21 7.55228 20.5523 8 20 8H4C3.44772 8 3 7.55228 3 7ZM3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12ZM4 16C3.44772 16 3 16.4477 3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17C21 16.4477 20.5523 16 20 16H4Z" fill="#141415"/>
  </svg>    
</div>

<div class="toolbar">
  <label for="keyframes">Keyframe</label>
  <select name="keyframes" id="keyframes">
    <option value={file + '-1'}>Every frame</option>
    <option value={file + '-2'}>Every other frame</option>
    <option value={file + '-4'} selected>Every 4th frames</option>
    <option value={file + '-8'}>Every 8th frames</option>
  </select>

  <Menu current={current} />

  <div class="divider"></div>

  <div class="copyright">
    Video copyright &copy; <a href={copyrightUrl}>{ copyright }</a>.
  </div>
</div>

<style>
  .toolbar-toggle {
    position: fixed;
    z-index: 16;
    right: 1rem;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
  }
  @media (hover: hover) {
    .toolbar-toggle {
      opacity: 0.5;
      transition: opacity 0.3s ease;
      cursor: pointer;
    }
    .toolbar-toggle:hover {
      opacity: 1;
    }
  }

  .toolbar-toggle :global(svg) {
    display: block;
  }

  .toolbar {
    position: fixed;
    z-index: 24;
    right: 1rem;
    top: 4.5rem;
    background-color: #fff;
    padding: clamp(1rem, 2vw, 1.5rem);
    border-radius: 0.5rem;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-0.5rem);
    transition: all 0.4s ease;
  }

  :global(.menu-open) .toolbar {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0rem);
  }

  .toolbar :global(label) {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
  }

  .divider {
    height: 1px;
    background-color: #ccc;
    margin: clamp(1rem, 2vw, 1.5rem) 0;
  }

  .copyright {
    font-size: 0.75rem;
  }
</style>